/* ! YUI Modules */
.slideshow {
	width: 1000px;
	height: 800px;
	margin: 20px;
	overflow: hidden;
}

.slideshow img {
	padding: 10px;
	background: #c0dfff;
	border: 1px solid #99b3cc;
	border-radius: 10px;
}

.yui3-slideshow-content {
	position: relative;
}

.yui3-slideshow-content img {
	position: absolute;
}

#fc-yt-demo {
	width: 100%; /* hasLayout */
}

#fc-yt-demo .box {
	width: 650px;
	margin: 0 auto;
}

#fc-yt-demo .box pre {
	line-height: 3;
	color: #ffffff;
	text-align: center;
}

#fc-yt-demo .red pre {
	background: #990000;
}

#fc-yt-demo .blue pre {
	background: #003366;
}

#fc-yt-demo .green pre {
	background: #226600;
}

#fc-yt-demo .black pre {
	background: #000000;
}